    /*
    Colors used

    Text Color: #000;
    Primary Color: #702283;
    Secondary Color: #c7d540;
    Tertiary Color: #d3d3d3;
     */
     /*resest default browser stylings*/
     html, body, div, span, applet, object, iframe,
     h1, h2, h3, h4, h5, h6, p, blockquote, pre,
     a, abbr, acronym, address, big, cite,
     del, dfn, em, img, ins, kbd, q, s, samp,
     small, strike, strong, sub, sup, tt, var,
     b, u, i, center,
     dl, dt, dd, ol, ul, li,
     fieldset, form, label, legend,
     table, caption, tbody, tfoot, thead, tr, th, td,
     article, aside, canvas, details, embed,
     figure, figcaption, footer, header, hgroup,
     menu, nav, output, ruby, section, summary,
     time, mark, audio, video {
     	margin: 0;
     	padding: 0;
     	border: 0;
     	font-size: 100%;
     	font: inherit;
     	vertical-align: baseline;
     }
     /* HTML5 display-role reset for older browsers */
     article, aside, details, figcaption, figure,
     footer, header, hgroup, menu, nav, section {
     	display: block;
     }
     body {
     	line-height: 1;
     }
     ol, ul {
     	list-style: none;
     }
     blockquote, q {
     	quotes: none;
     }
     blockquote:before, blockquote:after,
     q:before, q:after {
     	content: none;
     }
     table {
     	border-collapse: collapse;
     	border-spacing: 0;
     }

     /*start of own stylings*/
     /*setting native CSS variables*/
     :root{
         --primary-color: #702283;
         --secondary-color: #c7d540;
         --tertiary-color: #d3d3d3;
         --sun-animation_start: #edc655;
         --sun-animation_middle: #fcffad;
         --sun-animation_end: #f76414;
         --color__link--visited: #40024f;
         --white: #fff;

         --font__bold: 700;
         --transition-time__link: 0.3s;
     }

     *{
         box-sizing: border-box;
     }
     header{
         font-size: 20px;
     }
    body{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
    }
    footer a{
        margin: 6px;
    }
    h1{
        font-size: 30px;
        line-height: 2.2;
        font-weight: var(--font__bold);
    }

    h2{
        font-size: 24px;
        font-weight: var(--font__bold);
    }

    h3{
        font-size: 18px;
        font-weight: var(--font__bold);
    }
    code{
        background-color: var(--tertiary-color);
    }
    a{
        color: var(--primary-color);
    }
    a:visited{
        color: var(--color__link--visited);
    }
    a:hover, a:focus{
        text-decoration: none;
    }
    a:active{
        color:var(--secondary-color);
    }
    button, .button{
        border: none;
        display: inline-block;
        font-family: inherit;
        background-color: var(--white);
        color: var(--primary-color);
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid var(--primary-color);
        transition: 200ms ease-out background-color,
        200ms ease-out color,
        200ms ease-out opacity;
    }
    button:hover,
    button:focus,
    .button:hover,
    .button:focus{
        background-color: var(--primary-color);
        color: var(--white);
        cursor: pointer;
        opacity: 0.8;
    }

    /*table header in bold*/
    thead{
        font-weight: var(--font__bold);
    }
    tr:nth-child(2n+1){
        background-color:var(--primary-color);
    }
    tr:nth-child(2n){
        background-color: var(--secondary-color) ;
    }
    .skills thead tr{
        background-color: var(--tertiary-color);
    }
    /*make table cells have some space between them*/
    td, th{
        padding: 5px;
    }
    /*add some space between Paragraph and table*/
    div + table{
        margin: 15px;
    }
    .social-media{
        flex: 0 1 20px;
    }
    .link__soc-med{
        text-decoration: none;
    }
    .page-header{
        display: flex;
        max-width: 90%;
        margin: auto;
        padding: 20px;
        border-bottom: 1px solid var(--primary-color);
    }
    .page-header__item{
        flex: 0 1 100px;
    }
    .page-header__item:last-child{
        flex-grow: 1;
        text-align: right;
        align-self: center;
    }
    img.page-header__item{
        width: 10%;
        min-width: 50px;
        text-align: left;
        flex-shrink: 2;
        object-fit: contain;
    }
    .navigation-list{
        list-style-type: none;
    }
    .navigation-list li{
        display: inline-block;
        margin-left: 1.5rem;
        text-align: center;
    }
    .navigation-list__item{
        text-decoration: none;
        cursor: pointer;
        z-index: 0;
        position: relative;
        padding: 10px;
        font-size: 16px;
    }

    /*Navigation animation*/
    .navigation-list a:before{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1px;
        height: 0px;
        background: var(--primary-color);
        content: "";
        opacity: 1;
        transition: all var(--transition-time__link);
    }

    .navigation-list a:after{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 1px;
        background: var(--primary-color);
        content: "";
        opacity: 1;
        transition: all var(--transition-time__link);
    }

    .navigation-list a:hover:before{
        height: 100%;
    }

    .navigation-list a:hover:after{
        opacity: 0;
        top: 100%;
    }
    /*Navigation animation End*/
    /*Project-links animation*/
    .link__animated{
        text-decoration: none;
        position: relative;
    }
    .link__animated:before{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 1px;
        background: var(--primary-color);
        content: "";
        opacity: 1;
        transition: all var(--transition-time__link);
    }
    .link__animated:hover:before{
        width: 1px;
    }
    /*Project-links animation end*/
    .profile__portrait{
        float: left;
        width: 250px;
        height: auto;
        margin-right: 40px;
        border-radius: 50%;
    }
    .profile{
        max-width: 80%;
        margin: 2rem auto;
    }
    /*animations defined*/
    @keyframes color-change{
        0%{
            fill: var(--sun-animation_start);
            transform: translate(0px, 0px);
        }
        50%{
            fill: var(--sun-animation_middle);
        }
        100%{
            fill: var(--sun-animation_end);
            transform: translate(250px, 480px);
        }
    }
    @keyframes cloud-move{
        from{
            transform: translate(0, 50px);
        }
        to{
            transform: translate(200px, 50px);
        }
    }
    @keyframes cloud-move-reverse{
        from{
            transform: translate(446px, 48px);
        }
        to{
            transform: translate(100px, 48px);
        }
    }
    .sun{
        z-index: 0;
        animation: 8s color-change infinite alternate linear;
    }
    .cloud-front{
        animation: 30s cloud-move infinite alternate linear;
    }
    .cloud-back{
        animation: 34s cloud-move-reverse infinite alternate linear;
    }

    .description{
    max-width: 70%;
    margin: 2rem auto;
    text-align: center;
    }

    .skills{
        margin: 0px 20px;
        border-collapse: separate;
        border-spacing: 5px;
        text-align: left;
    }
    .page-footer{
        clear: both;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 16px;
        margin: 20px;
    }
    .contact-section{
        margin: 20px;
    }
    .contact__inner{
        margin-bottom: 20px;
    }
    #contact-form .standard-label{
        display: block;
        margin: 5px 0px;
    }
    #contact-form input, #msgbox{
        display: block;
    }
    #contact-form input[type="submit"]{
        margin-top: 15px;
    }
    /*fallback grid start*/
    .grid__item{
        display: inline-block;
        width: 33%;
    }
    /*fallback grid end*/

    @supports(display: grid){
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            padding: 10px;
        }
        .grid__item{
            border: 1px solid var(--primary-color);
            width: auto;
            min-height: auto;
            margin: 0;
            padding: 8px;
        }
        .grid__item:last-child{
            grid-column: 3/3;
            grid-row: 1/3;
        }
    }

    /*media queries*/
    @media all and (max-width: 500px){
        .grid{
            grid-template-columns: 1fr;
        }
    }
    @media all and (max-width: 750px) and (min-width: 501px){
        .grid{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media all and (max-width: 750px){
        .grid{
            grid-gap: 10px;
        }
        .grid__item:last-child{
            grid-column: auto / auto;
            grid-row: auto / auto;
        }
        h1{
            font-size: 22px;
        }
    }
